h1{text-align:center;}
#paragraph1{text-align:center;
}
body{background-color:#ddccff;}

img{
  display:block;
  margin-left:auto;
  margin-right:auto;}
#p1{text-align:center;
}
h2{text-align:center;}
#vid{
  display:block;
margin-left:auto;
margin-right:auto;}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  
}

li{
  display:inline;
  padding:25px;
  margin:25px;
}
